.tabs {
  display: flex;
  flex-direction: row;
  color: blue;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 8px;
}

.tabs button {
  border-style: none;
  background-color: transparent;
  color: grey;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}

.tabs .active {
  border-bottom: 2px solid teal;
  color: teal;
}
