.tabs {
    display: flex;
    flex-direction: row;
    color:blue;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 8px;
    
}

.attendingTab {
    margin-right: 5px;
    text-decoration: none;
  
}

.hostingTab {
    text-decoration: none;
}

.attendingTabOnClick{
    text-decoration: underline;
    /* text-decoration-color: rgba(0, 130, 148, 1); */
    background-color: teal;
}

.hostingTabOnClick{
   text-decoration: underline;
   text-decoration-color: rgba(0, 130, 148, 1);
}

