.tabs {
  display: flex;
  flex-direction: row;
  color: blue;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 8px;
}

.tabs button {
  border-style: none;
  background-color: transparent;
  color: grey;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}

.tabs .active {
  border-bottom: 2px solid teal;
  color: teal;
}

.AllEventsContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.MyEventPosition {
  margin-left: 50px;
}

.title {
  margin-left: 10px;
  margin-bottom: 20px;
}
.cancelButtonRsvp {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 130, 148, 1);
  border-color: rgba(0, 130, 148, 1);
  padding: 4px 8px;
  margin-left: 65px;
  margin-bottom: 20px;
}
