.event-list {
  margin-top: 200px;
  list-style: none;
}

/* main {
  margin-top: 599px;
} */

/* ^ put here as it logout functionality was blocked before it  */

.event-image {
  height: 200px;
  width: 300px;
}

.mainCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  padding: 40px;
  padding-left: 300px;
}

.cardDiv {
  display: flex;
  flex-direction: column;
}

.cardDiv:hover {
  box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
}
.cardDivContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
