.event-image {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.mainCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  padding: 40px;
  padding-left: 250px;
}

.cardDiv {
  display: flex;
  flex-direction: column;
}

.cardDiv:hover {
  box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
}
.cardDivContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
}



/* FRIDAY NIGHT CSS ADDITION */

.getBackToEventsPage{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 130, 148, 1);
  border-color: rgba(0, 130, 148, 1);
  padding: 4px 8px;
  margin-bottom: 20px;
  margin-right: 10px;

}

.buttonPosition {
   display: flex;
    flex-direction: row-reverse;
}

.attendButton{
  width: 120px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 130, 148, 1);
  border-color: rgba(0, 130, 148, 1);
  padding: 4px 8px;
  margin-bottom: 20px;
  margin-right: 10px;
}