.createEventModal {
  width: 400px;
  margin: 10px 50px;
  border-radius: 4px;
  /* overflow-y:scroll; */
}
.fieldDiv {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.fieldDiv label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fieldDiv input {
  height: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.createEventButton {
  text-align: center;
}

.create-event-container {
  margin-right: 20px;
}
.createEventButton button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #f65858;
  border-color: #f65858;
  padding: 8px 12px;
}
.create-event-button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 130, 148, 1);
  border-color: rgba(0, 130, 148, 1);
  padding: 4px 8px;
  margin-bottom: 20px;
}

.image-upload {
  border-style: none !important;
  padding-left: 6px;
}
