.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: flex-end;
  height: 100px;
  width: 100%;
  /* background-color: blue; */
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* background-color: pink; */
  list-style: none;
}

.nav-button-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
  height: auto;
  width: 50%;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.nav-buttons a i {
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
}

.profile-dropdown {
  z-index: 7;
  list-style-type: circle;
  padding-right: 5px;
}

.home-container {
  width: 50%;
}

.home-container {
  width: 50%;
}

.footerDiv {
  display: flex;
  margin-left: 20px;
}

.footerDiv a img {
  width: 20px;
  height: 20px;
}

.socialMedia {
  width: 11%;
  display: flex;
  justify-content: space-around;
}
.nav-buttons a {
  padding-left: 10px;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 130, 148, var(--tw-text-opacity));
}

.nav-buttons a:hover {
  color: rgba(0, 130, 148, 1);
}

.logo {
  justify-content: flex-start;
  margin-left: 10px;
  height: 2.5cm;
  width: 4cm;
}

.demoUserSignUp{
  
}

.logoutButton {
  width: 90px;
  height: 24px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #f65858;
  border-color: #f65858;
  padding: 2px 6px;
  font-size: 13px;
}
